/*Prevents autofill from altering styles*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: lightgreen !important;
  color: lightgreen;
}

body{
  text-align: center;
}

.message-label{
  padding-right: 60%;
}

label
{
  width: 75px;
  display: inline-block;
}

input[type=text]
{
  display: inline-block;
  width: 60%;
  background-color: black;
  color: lightgreen;
  font-family: 'Courier New';
  border-color: lightgreen;
  border-style: solid;
}

textarea{
  width: 255px;
  width: 68%;
  background-color: black;
  color: lightgreen;
  font-family: 'Courier New';
  border-color: lightgreen;
  border-width: 3px;
}

button{
  color: lightgreen;
  background-color: black;
  border-color: lightgreen;
  font-family: 'Courier New';
  border-style: solid;
}

